{% extends "base.html" %}
{% load en1_extras %}
{% load static %}
{% block title %}{{ domaintype }}域名日期列表{% endblock %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{{ domaintype }}域名日期列表</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
                            <li class="breadcrumb-item active">{{ domaintype }}域名日期列表</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ domaintype }}域名日期列表</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                日期
                            </th>

                            <th style="width: 20%">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for expiration_date in expiration_dates %}
                            <td>
                                #
                            </td>
                            <td>
                                <a>
                                    {{ expiration_date.expiration_date }}
                                </a>
                            </td>
                            <td class="project-actions ">
                                <a class="btn btn-primary btn-sm"
                                   href="{% url 'jietu:show_domaintype_expiration_date_pic' domaintype expiration_date.expiration_date %}">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </a>
                            </td>
                            </tr>
                        {% empty %}
                            <div class="no-post">暂时还没有添加域名！</div>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
{% endblock content %}
